body{
    margin: 0px;
    padding: 15px ,15px ,15px;
    background-color: #f9f7cf;
    width: 480px;
}

header{

    background-color: #e2c18e;
    padding: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

main{
    width: 475px;
    margin-left: 15px;
}
footer{
    background-color: #e2c18e;
    padding: 15px;
    margin-left: 15px;
    margin-top: 15px;
}
