.first {
    background: radial-gradient(circle at left, #0662a0, #4ce68c);
}

.second {
    background: radial-gradient(circle at left, hsl(293, 69%, 50%), #ff9634)
}

body {}

.viewport {
    height: 50vh;
    /* Заема половината от височината на вида на устройство (viewport) */
    overflow: hidden;
    /* Скрива част от излишъка на изображението, ако е по-голямо от родителския контейнер */

}

.card {
    position: relative;
    height: 100%;
    /* Заема 100% от височината на .viewport */
}

img {
    display: block;
    /* За да центрираме изображението */
    margin: auto;
    /* За центриране на изображението по хоризонтала */
    position: absolute;
    /* Абсолютно позициониране относно родителя с position: relative */
    top: 50%;
    /* Центриране по вертикала на родителя */
    left: 50%;
    /* Центриране по хоризонтала на родителя */
    transform: translate(-50%, -50%);
    /* Центриране точно в средата */
}

i {

    size: 10px;
    /* position: absolute;
    bottom: 0;
    right: 0; */
}