html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
}

section {
    padding-top: 50px;
    display: flex;
    max-width: 70vW;
    margin: 0 auto;
    gap: 2rem;
    justify-content: space-between;
}