@media (max-width: 600px) {

    header {
        padding-top: 1.7em;
    }

    nav ul {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        padding: .2em;
    }

    header nav {
        justify-content: center;
    }

    .header-title h1 {
        font-size: 36px;
    }

    .header-title {
        padding: 14px;
    }

    .header-title p {
        font-size: 18px;
    }

    .team-description {
        padding-bottom: 2em;
    }

    .team-description-wrapper,
    .about-us {
        display: flex;
        flex-direction: column;
    }

    .team-description ul {
        flex-wrap: wrap;
        gap: 4em;
        justify-content: center;
    }

    .team-description ul li {
        font-size: 14px;
        line-height: 1.3em;
        color: #878A8D;
    }

    .team-description ul li img {
        width: 195px;
        height: 180px;
        object-fit: cover;
        object-position: center;
    }

    .team-description ul li:nth-last-child(-n+2) img {
        height: 169px;
    }

    .about-us p:nth-child(3) {
        width: 98%;
        font-size: 16px;
    }

    .choose-us {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    .choose-us ul {
        flex-direction: column;
        justify-content: center;
        width: 60%;
    }

    .choose-us li {
        padding-bottom: 2em;
    }

    .blog-news ul {
        gap: 1.9em;
        flex-direction: column;
        align-items: center;
    }

    .blog-news ul .item .avatar {
        width: 240px;
    }

    .blog-news .content {
        width: 10.6rem;
        font-size: .75em;
        padding: 0 1rem;
    }

    .blog-news .content h4 {
        font-size: 1.15em;
    }

    .blog-news ul .item .avatar img {
        height: 100%;
    }
}