html {
  background:
    repeating-linear-gradient(45deg, #0000 calc(-650%/13) calc(50%/13), rgba(216, 216, 216, 0.36) 0 calc(100%/13),
      #0000 0 calc(150%/13), rgba(216, 216, 216, 0.36) 0 calc(200%/13),
      #0000 0 calc(250%/13), rgba(216, 216, 216, 0.36) 0 calc(300%/13)), repeating-linear-gradient(45deg, #0000 calc(-650%/13) calc(50%/13), rgba(216, 216, 216, 0.36) 0 calc(100%/13),
      #0000 0 calc(150%/13), rgba(216, 216, 216, 0.36) 0 calc(200%/13),
      #0000 0 calc(250%/13), rgba(216, 216, 216, 0.36) 0 calc(300%/13)) 24px 24px,
    repeating-linear-gradient(-45deg, #0000 calc(-650%/13) calc(50%/13), rgba(216, 216, 216, 0.36) 0 calc(100%/13),
      #0000 0 calc(150%/13), rgba(216, 216, 216, 0.36) 0 calc(200%/13),
      #0000 0 calc(250%/13), rgba(216, 216, 216, 0.36) 0 calc(300%/13)), repeating-linear-gradient(-45deg, #0000 calc(-650%/13) calc(50%/13), rgba(216, 216, 216, 0.36) 0 calc(100%/13),
      #0000 0 calc(150%/13), rgba(216, 216, 216, 0.36) 0 calc(200%/13),
      #0000 0 calc(250%/13), rgba(216, 216, 216, 0.36) 0 calc(300%/13)) 24px 24px #ffffff;
  background-size: 48px 48px;

}


body {
  margin: 0;
  padding: 0;
  
}