@import url(reset.css);
@import url(typography.css);

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color: rgb(255, 255, 255);
    max-width: 30em;
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid rgb(156, 156, 156);
    box-shadow: 0 0 1em 0.5em rgb(156, 156, 156);
}

.picture {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    padding: 1.5em;
}

.title {
    font-size: 1.3em;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
}

p {
    padding-top: 1em;
}

p,
button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: rgb(0, 153, 0);
    float: right;
    margin: 1.5em 1em;
    padding: 0.1em 1em;
    color: white;
    border-radius: 4px;
}

@media (min-width: 600px) {
    * {
        font-size: 18px;
    }
}

@media (min-width: 800px) {
    * {
        font-size: 20px;
    }
}

@media (min-width: 1300px) {
    * {
        font-size: 24px;
    }
}

@media (min-width: 1800px) {
    * {
        font-size: 28px;
    }
}