body{
    font-size: 20px;
    font-family:  Helvetica, sans-serif;
}
.conteiner{
    display: flex;
    flex-wrap: wrap;
    max-width: 15vw;
    height: 35rem;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
span {
    
    text-align: center;
    width: 90px;
    height: 55px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}